
@model online_bankimg_services.Models.admin
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ADMIN LOGIN</title>
</head>
<body>
    <div>
        <form>
            @using (Html.BeginForm())
            {
                <label for="aun">User Name</label>
                @Html.TextBoxFor(a => a.username, new { id = "aun" })
                <br /> <br />

                <label for="apwd">Password</label>
                @Html.TextBoxFor(c => c.pwd, new { id = "apwd" })
                <br /> <br />

                <a href="/Home/newuserregister">new user register</a>
                <br /> <br />
                <label id="Admvalidate">@ViewBag.e</label>
            }
        </form>
    </div>
</body>
</html>
