
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>customerdetails</title>
</head>
<body>
    <div>
        <h1>customer details</h1>
        <a href=" #">new user</a>
        <a href="#">existing customer</a>
        <a href="#">transaction details</a>
        <a href=" #">account status</a>
        <a href=" #">delete account</a>
        <a href=" #">transaction summary</a>
    </div>
</body>
</html>
