
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>transaction</title>
</head>
<body>
    <div>
        <label> account number</label><input placesholder="enter ac number"><br /><br /><br />
       <label>type of transaction</label> <select id="Account Type" name="Account Type">
            <option value="deposit">Deposit</option>
            <option value="Withdraw">Withdraw</option>
        </select><br />
        <label> Enter amount</label><input placesholder="Enter Amount"><br /><br /><br />
        <input type="submit" value="proced" />

    </div>
</body>
</html>
