
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>userlogin</title>
</head>
<body>
    <div>
        <h1>user login</h1>
        <label>enter username</label><input placesholder="enter name"><br /><br /><br />
        <label>enter password</label><input placesholder="enter pwd"><br /><br /><br />
        <input type="submit" value="login" />

    </div>
</body>
</html>
